/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Fonts */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(RobotoSlab-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(RobotoSlab-Bold.woff) format("woff");
}

/* line 27, ../sass/screen.scss */
body {
  padding-top: 60px;
}

/* line 31, ../sass/screen.scss */
.navbar-inverse .navbar-inner {
  background-color: #4d4d4d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4D4D4D', endColorstr='#FF2D2D2D');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #2d2d2d));
  background-image: -webkit-linear-gradient(top, #4d4d4d 0%, #2d2d2d 100%);
  background-image: -moz-linear-gradient(top, #4d4d4d 0%, #2d2d2d 100%);
  background-image: -o-linear-gradient(top, #4d4d4d 0%, #2d2d2d 100%);
  background-image: linear-gradient(top, #4d4d4d 0%, #2d2d2d 100%);
}

/* line 37, ../sass/screen.scss */
.navbar-inverse .brand {
  color: #4d4d4d;
  font-size: 1.7em;
  letter-spacing: 0.07em;
  text-transform: lowercase;
  font-family: 'Roboto Slab', serif;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.23s ease-out;
  -moz-transition: color 0.23s ease-out;
  -o-transition: color 0.23s ease-out;
  transition: color 0.23s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 48, ../sass/screen.scss */
.navbar-inverse .brand:hover {
  -webkit-transition: color 0.23s ease-in;
  -moz-transition: color 0.23s ease-in;
  -o-transition: color 0.23s ease-in;
  transition: color 0.23s ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 54, ../sass/screen.scss */
.secondary-nav > li > a {
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.23s ease-out;
  -moz-transition: color 0.23s ease-out;
  -o-transition: color 0.23s ease-out;
  transition: color 0.23s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 61, ../sass/screen.scss */
.secondary-nav > li > a:hover {
  -webkit-transition: color 0.23s ease-in;
  -moz-transition: color 0.23s ease-in;
  -o-transition: color 0.23s ease-in;
  transition: color 0.23s ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 68, ../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 73, ../sass/screen.scss */
.login-dropdown-form {
  margin: 0;
  padding: 1em 1em .5em 1em;
}
