/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Fonts */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url(RobotoSlab-Regular.woff) format("woff");
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url(RobotoSlab-Bold.woff) format("woff");
}

/* line 27, ../sass/screen.scss */
.navbar-inverse .navbar-inner {
  font-family: 'Roboto Slab', serif;
  background-color: #4d4d4d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF4D4D4D', endColorstr='#FF2D2D2D');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #2d2d2d));
  background-image: -webkit-linear-gradient(top, #4d4d4d 0%, #2d2d2d 100%);
  background-image: -moz-linear-gradient(top, #4d4d4d 0%, #2d2d2d 100%);
  background-image: -o-linear-gradient(top, #4d4d4d 0%, #2d2d2d 100%);
  background-image: linear-gradient(top, #4d4d4d 0%, #2d2d2d 100%);
}

/* line 34, ../sass/screen.scss */
.navbar-inverse .brand, .nav a {
  letter-spacing: 0.07em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.3s ease-in, letter-spacing 0.15s ease-in;
  -moz-transition: color 0.3s ease-in, letter-spacing 0.15s ease-in;
  -o-transition: color 0.3s ease-in, letter-spacing 0.15s ease-in;
  transition: color 0.3s ease-in, letter-spacing 0.15s ease-in;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 42, ../sass/screen.scss */
.navbar-inverse .brand:hover, .nav a:hover {
  letter-spacing: 0.23em;
  -webkit-transition: color 0.3s ease-out, letter-spacing 0.15s ease-out;
  -moz-transition: color 0.3s ease-out, letter-spacing 0.15s ease-out;
  -o-transition: color 0.3s ease-out, letter-spacing 0.15s ease-out;
  transition: color 0.3s ease-out, letter-spacing 0.15s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 49, ../sass/screen.scss */
.navbar-inverse .brand {
  color: #4d4d4d;
}

/* line 53, ../sass/screen.scss */
body {
  padding-top: 60px;
}

/* line 57, ../sass/screen.scss */
h1, h2, h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

/* line 62, ../sass/screen.scss */
h1 {
  font-weight: 2.3em;
}

/* line 66, ../sass/screen.scss */
h2 {
  font-size: 1.7em;
  font-weight: 700;
}

/* line 71, ../sass/screen.scss */
h3 {
  font-size: 1.3em;
}

/* line 75, ../sass/screen.scss */
.btn-register {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  letter-spacing: .07em;
  font-size: 1.2em;
  padding: .4em 1.7em;
}

/* line 83, ../sass/screen.scss */
#frontpage-clock {
  width: 300px;
  height: 150;
}
