/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

/* Fonts */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(RobotoSlab-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(RobotoSlab-Bold.woff) format('woff');
}

@mixin branding-font {
    font-family: 'Roboto Slab', serif;
}

body {
    padding-top: 60px;
}

.navbar-inverse .navbar-inner {
    background-color: #4d4d4d; // Old browsers
    @include filter-gradient(#4d4d4d, #2d2d2d, vertical); // IE6-9
    @include background-image(linear-gradient(top, #4d4d4d 0%,#2d2d2d 100%));
}

.navbar-inverse .brand {
    color: #4d4d4d;
    font-size: 1.7em;
    letter-spacing: 0.07em;
    text-transform: lowercase;

    @include branding-font;
    @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));
    @include transition(color 0.23s ease-out);
    @include transition-delay(0s);

    &:hover {
        @include transition(color 0.23s ease-in);
        @include transition-delay(0s);
    }
}

.secondary-nav > li > a {
    text-transform: uppercase;

    @include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));
    @include transition(color 0.23s ease-out);
    @include transition-delay(0s);

    &:hover {
        @include transition(color 0.23s ease-in);
        @include transition-delay(0s);
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

.login-dropdown-form {
    margin: 0;
    padding: 1em 1em .5em 1em;
}