/* GLOBAL SETTINGS */
body { background: url("/img/noisy-texture-100x100-o3-d10-c-ededed-t0.png"); }
#main {	}

/* HELPER CLASSES */
textarea { resize:both; } /* none|horizontal|vertical|both */
textarea.vert { resize:vertical; }
textarea.noResize { resize:none; }

/* TIMELINE PAGE */
.panel-nav {
	margin-top: -15px;
	border-top: none !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid #ddd;
}

/* TIMELINE DISPLAY */
#loading-timeline {
	text-align: center;
}

#timeline {
	box-sizing: content-box;
	margin: 0px -5px;
}

.item {
	display: inline-block;
	padding: 5px;
	width: 25%;
}

.item img {
	background-image: url('../img/preloader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.item-inner {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

.item img {
	width: 100%;
	margin-bottom: 5px;
}

.item a {
	text-decoration: none;
}

/* CURRENTLY NOT IN USE */
.timer {
	width: 100%;
	font-size: 32px; /* too big for mobile */
	padding: 5px 12px;
	
	border-radius: 4px;
	vertical-align: middle;
	text-align: center;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */