/* GLOBAL SETTINGS */
body { background: url("/img/noisy-texture-100x100-o3-d10-c-ededed-t0.png"); font-size: 14px; }
#main {	}

/* Higher than isotope */
.ui-widget { z-index: 3 !important; position: relative; }

/* HELPER CLASSES */
textarea { resize:both; } /* none|horizontal|vertical|both */
textarea.vert { resize:vertical; }
textarea.noResize { resize:none; }

/* TIMELINE PAGE */
.panel-nav {

	border-top: none !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid #ddd;
}

input.invalid {
	background-image: url("/img/icon-x.png");
	background-repeat: no-repeat;
	background-position: right center;
}

input.valid {
	background-image: url("/img/icon-check.png");
	background-repeat: no-repeat;
	background-position: right center;
}

/* TIMELINE DISPLAY */
#options * {
	vertical-align: middle;
	list-style: none;
}

#options li {
	display: inline-block;
	border-right: 2px solid #ddd;
	padding-right: 4px;
}

#timeline {
	box-sizing: content-box;
	margin: -5px -5px;
}

.item {
	display: inline-block;
	padding: 5px;
	
	width: 25%;
}

/* Matches Bootstrap's -sm- breakpoint */
@media (max-width: 767px) {
	.item  {	width: 33%;	}
}

/* Arbitrary */
@media (max-width: 599px) {
	.item  {	width: 50%;	}
}

/* Arbitrary */
@media (max-width: 350px) {
	.item  {	width: 100%; }
	.container { padding: 5px; }
}

/* For when we get around to image upload */
.item .image {
	background-image: url('../img/preloader.gif');
	background-repeat: no-repeat;
	background-position: center center;
	
	margin-top: 10px;
	width: 100%;
}

/* Necessary for proper spacing a la Bootstrap */
.item-inner {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

.item a {
	text-decoration: none;
}

.item .close {

	width: 32px;
	height: 32px;
	padding: 5px;
}

.item .close * {

}


/* CURRENTLY NOT IN USE */
.timer {
	width: 100%;
	font-size: 32px; /* too big for mobile */
	padding: 5px 12px;
	
	border-radius: 4px;
	vertical-align: middle;
	text-align: center;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}