@import url(http://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab:400);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 25, ../../sass/screen.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding-top: 60px;
}

/* line 29, ../../sass/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 32, ../../sass/screen.scss */
h1 {
  margin: .7em 0;
  font-size: 1.4em;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 37, ../../sass/screen.scss */
h2 {
  margin: .7em 0;
  font-size: 1.2em;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 42, ../../sass/screen.scss */
.navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

/* line 45, ../../sass/screen.scss */
input {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 48, ../../sass/screen.scss */
.navbar a {
  -webkit-transition: color 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: color 0.2s ease-in-out 0s;
  -o-transition: color 0.2s ease-in-out 0s;
  transition: color 0.2s ease-in-out 0s;
}

/* line 51, ../../sass/screen.scss */
.nav a {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

/* line 54, ../../sass/screen.scss */
.signin-dropdown {
  left: auto;
  right: 0;
  width: auto;
}

/* line 59, ../../sass/screen.scss */
.signin-form {
  padding: .7em 1em;
}

/* line 62, ../../sass/screen.scss */
.signin-form label {
  margin-top: .7em;
}

/* line 65, ../../sass/screen.scss */
.signin-form span {
  color: #777;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: .9em;
}

/* line 70, ../../sass/screen.scss */
.signin-form input {
  margin-top: .3em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* line 74, ../../sass/screen.scss */
.signin-form button {
  margin-top: .7em;
}

/* line 77, ../../sass/screen.scss */
.footer-links {
  margin-top: .7em;
}

/* line 80, ../../sass/screen.scss */
.footer-links a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: .8em;
  line-height: 1.4em;
}

/* line 85, ../../sass/screen.scss */
.glyphicon {
  vertical-align: middle;
  margin-left: .3em;
  margin-right: .3em;
}
